<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="description" content="A portfolio site for Tim Stevenson | Digital Producer, Front-end Web Developer">
    <title>Tim Stevenson | Digital Producer, Front-end Web Developer</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
          <ul class="off-canvas-list">
            <li data-menuanchor="bobby" data-toggle="offCanvasRight"><a href="index.html#bobby">Hello</a></li>
            <li><a href="producer.html" data-toggle="offCanvasRight">Digital Producer</a></li>
            <li><a href="dev.html" data-toggle="offCanvasRight">Web Developer</a></li>
            <li><a href="ux.html" data-toggle="offCanvasRight">Experience Designer</a></li>
            <li data-menuanchor="resume"><a href="index.html#resume" data-toggle="offCanvasRight">Resumé</a></li>
            <li data-menuanchor="contact"><a href="index.html#contact" data-toggle="offCanvasRight">Contact</a></li>            
          </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar">
            <div class="title-bar-left">
              <ul class="dropdown menu" data-dropdown-menu>
                <li>
                  <a href="index.html" class="no-padding">
                    <img src="images/tcs-logo.png" alt="Tim Stevenson" />
                  </a>            
                </li>
            </div>
            <div class="title-bar-right">
              <ul class="menu">
                <li><button class="menu-icon" type="button" data-toggle="offCanvasRight"></button></li>
              </ul>
            </div>
          </div>  <!-- end top bar -->       


        <section class="role">
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <h3>Digital Producer</h3>
                <p>These are projects where I was the lead interactive producer, or assistant producer and QA manager.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <ul class="tabs" data-tabs id="producer-tabs">
                  <li class="tabs-title is-active"><a href="#panel2-1" aria-selected="true">ibm.com/cloud-computing</a></li>
                  <li class="tabs-title"><a href="#panel2-2">IBM PartnerWorld University</a></li>                
                  <li class="tabs-title"><a href="#panel2-3">biglojackarrow.com</a></li>
                  <li class="tabs-title"><a href="#panel2-4">Klondike Sites</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="producer-tabs">
                  <div class="content tabs-panel is-active" id="panel2-1">
                    <h3>ibm.com/cloud-computing</h3>
                    <p>This is my largest effort right now, which I'm leading as a producer, running a semi-agile team, consisting of a mix of IBMers and Havas folks. We're live at <a href="http://ibm.com/cloud-computing/">ibm.com/cloud-computing</a>. 
                    <p>Last fall, we were under the gun to get a first iteration live in time for Gartner Symposium 2015, so we deployed in under 2 months. Now we've been working through strategy, and iterating design and IA. We're also running A/B tests through <a href="https://www.optimizely.com/">Optimizely</a>! Look out for major improvements in Q2.</p>
                    <p>Here's what the original homepage looked like (<a href="http://www.ibm.com/cloud-computing/au/en/">still live in some countries</a>). While visually beautiful, it wasn't performing well, so we've pivoted.</p>
                    </p>
                    <div class="h_iframe">
                      <img class="ratio" src="http://placehold.it/16x9"/>
                      <iframe src="//player.vimeo.com/video/157535405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>                       
                  </div> 
                  <div class="content tabs-panel" id="panel2-2">
                    <h3>IBM PartnerWorld University</h3>
                    <p>I ran a tight, semi-agile design team to revamp IBM's product education platform for their sales partners. This was also an effort where I ran point on client management. Our team was small and efficient on this project, and spending significant time working through challenges with my UX and visual designers was my favorite part.</p>
                    <p>Our designs were implemented, but unfortunately, by a different organization under a different scope (one of my gripes with the advertising industry), so I'm not entirely pleased with the end results. Instead, I'll post my teams comps which I can speak for :)</p>
                    <img src="images/pwu-1.png" alt="IBM PartnerWorld University Not Logged In View" />
                    <img src="images/pwu-2.png" alt="IBM PartnerWorld University Dashboard" />
                    <img src="images/pwu-3.png" alt="IBM PartnerWorld University MY PWU" />
                  </div>                                   
                  <div class="content tabs-panel" id="panel2-3">
                    <h3>LoJack's biglojackarrow.com</h3>
                    <p>In addition to serving as UX Designer on biglojackarrow.com, I also produced the digital offerings of the campaign, which included
                       online banners, a microsite that served as a hub for the campaign as well as a contest entry point, and finally a service to enter by SMS.
                    </p>
                    <p>People were driven to the site by the online banner ads, but more importantly from our street teams roaming
                       LoJack's 4 biggest markets in cars with 6 foot flashing arrows on top, demonstrating LoJack's ability to locate vehicles.
                    </p>
                    <p>Check out the case study, and below a look at the design of the site's homepage:</p>
                    <div class="h_iframe">
                      <img class="ratio" src="http://placehold.it/16x9"/>
                      <iframe src="//player.vimeo.com/video/47655710" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>                    
                    <img src="images/lojack.jpg" alt="biglojackarrow.com" />
                  </div>
                  <div class="content tabs-panel" id="panel2-4">
                    <h3>Klondikebar.com and the Klondike Flavor Chamber</h3>
                    <p>I was heavily involved in producing both of these sites, working with partners Sapient/Nitro on klondikebar.com and STINK Digital on the Flavor Chamber. In addition to producing, I was the lead manager of QA on both. Each were big efforts to coordinate and
                       create, and each represents a rich and unique digital experience. 
                    </p>
                    <img src="images/flavorchamber.png" alt="Klondike Flavor Chamber" />
                    <img src="images/klondikebar.png" alt="Klondikebar.com" />                    
                  </div>                  
                </div>                
              </div>
            </div>
          </div>
        </section>





        </div><!-- end off canvas content -->
      </div>
    </div> <!-- end off canvas wrapper -->    

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/fullpage.js/jquery.fullPage.min.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74744556-1', 'auto');
      ga('send', 'pageview');

    </script>    
  </body>
</html>          