<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A portfolio site for Tim Stevenson | Digital Producer, Front-end Web Developer">
    <title>Tim Stevenson | Digital Producer, Front-end Web Developer</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
          <ul class="off-canvas-list">
            <li data-menuanchor="bobby" data-toggle="offCanvasRight"><a href="index.html#bobby">Hello</a></li>
            <li><a href="producer.html" data-toggle="offCanvasRight">Digital Producer</a></li>
            <li><a href="dev.html" data-toggle="offCanvasRight">Web Developer</a></li>
            <li><a href="ux.html" data-toggle="offCanvasRight">Experience Designer</a></li>
            <li data-menuanchor="resume"><a href="index.html#resume" data-toggle="offCanvasRight">Resumé</a></li>
            <li data-menuanchor="contact"><a href="index.html#contact" data-toggle="offCanvasRight">Contact</a></li>            
          </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
          <div class="title-bar">
            <div class="title-bar-left">
              <ul class="dropdown menu" data-dropdown-menu>
                <li>
                  <a href="index.html" class="no-padding">
                    <img src="images/tcs-logo.png" alt="Tim Stevenson" />
                  </a>            
                </li>
            </div>
            <div class="title-bar-right">
              <ul class="menu">
                <li><button class="menu-icon" type="button" data-toggle="offCanvasRight"></button></li>
              </ul>
            </div>
          </div>  <!-- end top bar -->          


        <section class="role">
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <h3>Experience Designer</h3>
                <p>This is work where my role was experience design.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <ul class="tabs" data-tabs id="dev-tabs">
                  <li class="tabs-title is-active"><a href="#panel2-1" aria-selected="true">SSgA's ETF Ed</a></li>
                  <li class="tabs-title"><a href="#panel2-2">LoJack's biglojackarrow.com</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="ux-tabs">
                  <div class="content tabs-panel is-active" id="panel2-1">
                    <h3>SSgA's ETF Ed</h3>
                    <p>Designing the information architecture for SSgA's <a href="https://spdru.com/etfed" target="_blank">SPDR ETF Ed</a> was a fun project because 
                       I was given the responsibility of applying the heuristic and usability principles that 
                       I'm a student and practitioner of. The exercise of trying to solve the problems and pain
                       points of the many financial advisors and stakeholders that our team interviewed was 
                       challenging and satisfying to crack, and the project also gave me a chance to really 
                       learn Adobe Fireworks and InDesign. Below are some examples of the wireframes that I 
                       constructed and handed off to our development team.
                    </p>
                    <p>View the site: <a href="https://spdru.com/etfed" target="_blank">spdru.com/etfed</a></p>
                    <p>Here are examples of the wireframes:</p>
                    <img class="border" src="images/spdr-page26.png" alt="wireframe" />
                    <img class="border" src="images/spdr-page34.png" alt="wireframe" />
                  </div>
                  <div class="content tabs-panel" id="panel2-2">
                    <h3>LoJack's biglojackarrow.com</h3>
                    <div class="h_iframe">
                      <img class="ratio" src="http://placehold.it/16x9"/>
                      <iframe src="//player.vimeo.com/video/47655710" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>                    
                    <p>I produced the responsive site for the Big LoJack Arrow Campaign, which accepted user photo
                       entries to win contest prizes such as a Samsung Smart TV. Users also had the option of entering by MMS on the go.
                    </p>
                    <p>People were driven to our site by online banner ads, but more importantly from our street teams roaming
                       LoJack's 4 biggest markets in cars with 6 foot flashing arrows on top, demonstrating LoJack's ability to locate vehicles.
                    </p>
                    <img src="images/lojack.jpg" alt="biglojackarrow.com" />
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </section>





        </div><!-- end off canvas content -->
      </div>
    </div> <!-- end off canvas wrapper -->    

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/fullpage.js/jquery.fullPage.min.js"></script>
    <script src="bower_components/what-input/what-input.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>          